@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root {
    --system-font: 'Nunito', sans-serif;
    --link-blue-accessible: #2540AD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  var(--system-font);
}

img {
    max-width: 100%;
}

p {
    --min-size: .9rem;
    --pref-size: 1rem;
    --max-size: 1.125rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
    line-height: 1.5;
    font-family: var(--system-font);
}

a {
    color: var(--link-blue-accessible);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover,
.credit:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: var(--system-font);
    color: #212121;
}

h1, .h1 {
    --min-size: 2.75rem;
    --pref-size: 8vw;
    --max-size: 3.25rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

h2, .h2 {
    --min-size: 1.5rem;
    --pref-size: 5vw;
    --max-size: 1.8rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

main .gallery {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

main .gallery-header {
    max-width: 1100px;
    padding: 0 1.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 30px;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0.2% 10%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transition: 250ms ease-in;
    background-color: rgb(31, 31, 32);
}

.logo{
    width: 90%;
    margin-top: 10px;
    transition: 250ms ease-in;
}

header .nav-main .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links a{
    color: #BFA847;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    transform: scaleX(0);
    transition: 250ms ease-in;
}

.nav-links a.active::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #134D77;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #134D77;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    transition: 250ms ease-in;
}
.nav-links a:hover::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #134D77;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    transition: 250ms ease-in;
}


.nav-list a.active::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #134D77;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.burger{
    display: none;    
}

.line1, .line2, .line3{
    width: 25px;
    height: 3px;
    background-color: #BFA847;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-scrolled{
    background: rgb(31, 31, 32);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    transition: 250ms ease-in;
}

.nav-scrolled .logo {
    width: 60%;
    margin-top: 0px;
    transition: 250ms ease-in;
}

/* ------ Responsive Media ------ */

@media screen and (max-width: 700px){

    body{
        overflow-x: hidden;
    }

}

@media screen and (max-width: 1071px) {

    .nav-links ul li{
        display: block;
        padding: 1.5rem 0 1.5rem;
    }

    .nav-links{
        position: fixed;
        background: rgb(31, 31, 32);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 250ms ease-in;
        transform: translateX(200px);
    }

    .nav-links ul{
        padding: 30px;
        margin-top: 50px;
    }

    .nav-links a{
        font-weight: 600;
    }

    .burger{
        display: block;
        cursor: pointer;
        z-index: 3;
    }

    .logo{
        width: 80px;
        margin-left: 30px;
    }
}

/* -------- Nav Animation ------ */

.nav-active{
    transform: translateX(0%);
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.main-home {
    margin-top: 1.5rem;
}

.about-page {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

.about-v {
    margin-top: auto;
}

.image-description {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.image-description h1 {
    margin-bottom: .4rem;
    text-align: center;
}

.image-description p a:hover {
    text-decoration: none;
}

.page-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 1em auto;
    max-width: 1100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #134D77;
}

.page-banner h1 {
    margin-bottom: .75rem;
    color: #BFA847;
}

.page-banner p {
    --min-size: 1.1rem;
    --pref-size: 3vw;
    --max-size: 1.3rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

.image-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 3px;
    max-width: 1100px;
    margin: 1rem auto 3rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.image-grid .image-container {
    height: 18rem;
    overflow: hidden;
    border-radius: 2px;
}

.image-grid .image-container a:focus img {
    border: 3px solid #07c;
}

.image-grid .image-container a .grid-image {
    object-fit: cover;
    height: 18rem;
    width: 100%;
    transform-origin: 50% 50%;
    filter: brightness(99%);
    transition: filter 0.5s ease;
}

.image-grid .image-container a img:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 0px 2px #000;
    transform-origin: 50% 50%;
    cursor: pointer;
}

.featured-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.featured-img .prev-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 .5rem;
}

.prev-next a {
    padding: .3rem .85rem;
    border: 1px solid #777;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
}

.prev-next a:hover {
    background: rgb(241, 241, 241);
}

.featured-img .showcase-img {
    object-fit: cover;
    /* object-fit: contain; this is best but causes letterboxing" */
    max-width: 100%;
    height: 90vh;
    margin: 1rem auto 1rem auto;
}

.main-container {
    margin: 3rem auto 2rem auto;
}

.four-oh-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100vh;
    overflow: hidden;
    background: #1e2022;
}

.four-oh-four ul li {
    margin: .5rem 0;
    color: #fff;
}

.four-oh-four h1,
.four-oh-four h2,
.four-oh-four p {
    color: #fff;
}

.four-oh-four a {
    color: #19C2FA !important;
    text-decoration: none;
    text-decoration-color: #19C2FA;
}

.four-oh-four ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .featured-img .showcase-img {
        height: 65vh;
    }
}

@media screen and (max-width: 565px) {
    .page-banner h1 {
        text-align: left;
    }
}

@media screen and (max-width: 450px) {
    footer .footer-content .footer-info.home {
        justify-content: flex-start;
        align-items: center;
    }
    footer .footer-content .footer-info.featured {
        flex-direction: column;
        justify-content: center;
    }
    header .nav-main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 2rem;
    }
    header .nav-main .nav-list {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 415px) {
    .main-container {
        margin-top: 2rem;
    }

    nav {
        border-bottom: 1px solid #ccc;
    }
}

/* Moto G4 width width=360px which Lighthouse runs audit on */
@media screen and (max-width: 375px) {
    .featured-img h1 {
        text-align: center;
        margin: 0 auto 1em auto;
    }
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 3px;
    }
    .image-grid .image-container {
        height: 15rem;
    }
    .image-grid .image-container a img {
        object-fit: cover;
        height: 15rem;
        width: 100%;
    }
    .featured-img {
        margin: 0;
        padding: 0;
        align-items: center;
    }
}

/* Dropdown Menu  */

.sub-menu-1 {
    display: none;
}

.nav-links li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(31, 31, 32);
    margin-top: 9px;
    margin-left: -15px;
}

.nav-links li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.nav-links li:hover .sub-menu-1 li {
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -41px;
    margin-left: 140px;
    background: rgb(31, 31, 32);
}

@media screen and (max-width: 700px){
    .sub-menu-1,
    .sub-menu-2 {
        display: none;
    }
}



/* ------ Footer ------  */


.footer{
    width: 100%;
    text-align: center;
}

.footer h4{
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #BFA847;
}

.footer p{
    color: #134D77;
}

.footer a{
    color: #BFA847;
    text-decoration: none;
}

.icons .fab{
    color: #134D77;
    margin: 10px 15px;
    cursor: pointer;
    padding: 18px 0;
    transition: 150ms ease-in;
}

.icons i:hover {
    transform: translateY(-5px);
}

.icons i#facebook:hover {
    color: #4267B2;
}

.icons i#instagram:hover {
    color: #E1306C;
}

.icons i#whatsapp:hover {
    color: #25D366;
}

.icons i#youtube:hover {
    color: #FF0000;
}

.icons i#linkedin:hover {
    color: #0072b1;
}

.disclaimer{
    top: 30px;
    height: 8vh;
    background-color: rgb(31, 31, 32);
    width: 100%;
    padding-top: 20px;
    font-size: 14px;
    margin-top: 25px;
    color: #BFA847;
}

@media screen and (max-width: 700px){
    .disclaimer{
        font-size: 10px;
    }
}