
    <nav>
        <a href="/home.html"><img src="/assets/logo3.png" class="logo"></a>
        <div class="nav-links">
            <ul class="nav-list">
                <li><a href="/home.html" class="active">INICIO</a></li>
                <li><a href="/aboutus.html">SOBRE NOSOTROS</a></li>
                <li><a href="/services.html">SERVICIOS</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="/sales.html">Venta</a></li>
                            <li class="hover-me"><a href="/rent.html">Alquiler</a>
                                <div class="sub-menu-2">
                                    <ul>
                                        <li><a href="/domestic.html">Domiciliario</a></li>
                                        <li><a href="AIRBNB">Vacacional</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="/inversion.html">Inversión</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/location.html">LOCACIONES</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="/SantoDomingo/">Santo Domingo</a></li>
                            <li><a href="/PuntaCana/">Punta Cana</a></li>
                            <li><a href="/Sosua/">Sosua</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/blog.html">BLOG</a></li>
                <li><a href="/contactus.html">CONTÁCTANOS</a></li>
            </ul>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
